body {over2-x: hidden;}
* {
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
}

.bg-img {
  /* The image used */
  background-image: url("image/bar.jpg");
  object-fit: cover;
  min-height: 525px;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Needed to position the navbar */
  position: relative;
}

@media screen and (max-width: 800px) {
  .bg-img {
   background-size: fill;
  }
}

/*.note{
    float: left;
  margin-top: 150px;
  margin-left: 40%;
  color: #f6f6f6;
}*/

.dar{
  font-size: 4.5em;
}

.eve{
  font-size: 1.5em;
}

.sta{
  font-size: 1em;
}

/*@media screen and (max-width: 500px) {
  .bg-img {
   margin-left: -200px;
  }
}*/


/* Position the navbar container inside the image */
.container {
  /*position: absolute;*/
  /*margin: 20px;*/
  /*width: 100%;*/
   width: 90%

}


div.dar {
  width: 100%;
  overflow: hidden;
}
div.dar {
  animation: 3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to{
    margin-left: 0%;
    width: 100%;
  }
}


div.eve{
  width: 100%;
  
  overflow: hidden;
}
div.eve{
  animation: 3s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 300%;
    /*width: 100%;*/
  }

  to{
    margin-left: 0%;
    /*width: 100%;*/
  }
}

div.sta{
  width: 100%;
 
  overflow: hidden;
}
div.sta{
  animation: 3s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 300%;
    /*width: 100%;*/
  }

  to{
    margin-left: 0%;
    /*width: 100%;*/
  }
}


*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courgette', cursive;
    letter-spacing: 1px;
    font-weight: 300;
}
nav{
    height: 6rem;
    width: 100%;
    background-color: #1314182e;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 3rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;

}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #f2f5f7;
}
.nav-links li a:hover {
    color: #82413F;
    font-weight: bold;
}
.nav-links li {
    position: relative;
}

.nav-links li a:hover::before{
    width: 100%;
}

/*Styling Buttons*/

.join-button{
    color: #F2F2F2;
    background-color: #82413F;
    border: 1.5px solid #82413F;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #4c5964;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.try{
  float: right;
}


  /* column */
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.col{
  width: 340px;
  margin-left: 150px;
}

.col2{
  width: 400px;
  padding-left: 50px;
  margin-left: 500px;
}

.col3{
  width: 150px;
float: right;
margin-top: -200px;
margin-right: 150px;
}

body {over2-x: hidden;}
* {
  box-sizing: border-box;
  font-family: 'Courgette', cursive;

}

.bg-img {
  /* The image used */
  background-image: url("image/bar.jpg");

  min-height: 525px;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Needed to position the navbar */
  position: relative;
}

@media screen and (max-width: 800px) {
  .bg-img {
   background-size: fill;
  }
}

.note{
    float: left;
  margin-top: 150px;
  margin-left: 36%;
  color: #f6f6f6;
}

.dar{
  font-size: 4.5em;
}

.eve{
  font-size: 1.5em;
}

.sta{
  font-size: 1em;
}

/*@media screen and (max-width: 500px) {
  .bg-img {
   margin-left: -200px;
  }
}*/


/* Position the navbar container inside the image */
.container {
  /*position: absolute;*/
  /*margin: 20px;*/
  /*width: 100%;*/
   width: 90%

}
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courgette', cursive;
    letter-spacing: 1px;
    font-weight: 300;
}
nav{
    height: 6rem;
    width: 100%;
    background-color: #1314182e;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 3rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;

}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #f2f5f7;
}
.nav-links li a:hover {
    color: #82413F;
    font-weight: bold;
}
.nav-links li {
    position: relative;
}

.nav-links li a:hover::before{
    width: 100%;
}

/*Styling Buttons*/

.join-button{
    color: #F2F2F2;
    background-color: #82413F;
    border: 1.5px solid #82413F;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #4c5964;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.try{
  float: right;
}


  /* column */
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



.prod2 {
  float: left;
  width: 49.5%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.prod::after {
  content: "";
  clear: both;
  display: table;
}

.prod{
  background-color: #e5d190;
}

.full2{
  background-color: #e5d190;
}

.product{
  background-color: #e5d190;
}

.product2 {
  float: left;
  width: 49.5%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.product::after {
  content: "";
  clear: both;
  display: table;
}


.img2{
  width: 400px;
  height: 400px;
    float: left;
  padding-right: 50px;
}

.clearfix {
  background-color: #e5d190;
  overflow: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

/*.text{
  margin-left: -100px;
}
*/











.col{
  width: 340px;
  margin-left: 150px;
}

.col2{
  width: 400px;
  padding-left: 50px;
  margin-left: 500px;
}

.col3{
  width: 150px;
float: right;
margin-top: -200px;
margin-right: 150px;
}


.footer {
  width: 100%;
  position: absolute;
  height: auto;
  /*background-color: #070617;*/
  /*margin-top: 75px;*/
  background-image: url("image/blur.jpg");
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  /*color: rgba(255,255,255,0.2);*/
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #313131;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

.copyright-text{
  text-align: center;
}

@media screen and (max-width: 950px) {
.bg-img{
width:100%
}
}


@media screen and (max-width: 900px) {
  .note {
  margin-left: 280px;
  }
}


@media screen and (max-width: 800px) {
  .note {
  margin-left: 240px;
  }
}

@media screen and (max-width: 750px) {
  .note {
  margin-left: 200px;
  }
}

@media screen and (max-width: 700px) {
  .note {
  margin-left: 180px;
  }
}

@media screen and (max-width: 650px) {
  .note {
  margin-left: 160px;
  }
}

@media screen and (max-width: 600px) {
  .note {
  margin-left: 130px;
  }
}

@media screen and (max-width: 550px) {
  .note {
  margin-left: 110px;
  }
}

@media screen and (max-width: 500px) {
  .note {
  margin-left: 90px;
  }
}

@media screen and (max-width: 550px) {
  .dar {
  font-size: 4em;
  }
}

@media screen and (max-width: 550px) {
  .eve {
  font-size: 1.5em;
  }
}

@media screen and (max-width: 550px) {
  .sta {
  font-size: 0.7em;
  }
}

@media screen and (max-width: 1200px) {
  .bottle {
  height: 400px;
  }
}

@media screen and (max-width: 1150px) {
  .bottle {
  height: 370px;
  }
}

@media screen and (max-width: 1100px) {
  .bottle {
  height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .bottle {
  height: 320px;
  }
}

@media screen and (max-width: 900px) {
  .bottle {
  height: 280px;
  }
}

@media screen and (max-width: 800px) {
  .bottle {
  height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .bottle {
  height: 220px;
  }
}

@media screen and (max-width: 600px) {
  .bottle {
  height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .bottle {
  height: 180px;
  }
}

@media screen and (max-width: 500px) {
  .text {
  padding-left: 100px;
  padding-right: 100px;
  }
}

@media screen and (max-width: 800px) {
  .bottle2 {
margin-left: 5px;
  }
}

@media screen and (max-width: 800px) {
  .bottle3 {
margin-left: 5px;
  }
}

/*@media screen and (max-width: 799px) {
  .bottle2 {
width: 500px;
  }
}*/

@media screen and (max-width: 650px) {
  .bottle3 {
width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .bottle3 {
width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .bottle2 {
width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .photo2 {
margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .photo3 {
margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .photo4 {
margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .col {
width: 350px;
  }
}

@media screen and (max-width: 950px) {
.col{
  margin-left: 100px;
}
}

@media screen and (max-width: 950px) {
.col2{
  margin-left: 250px;
}
}

@media screen and (max-width: 950px) {
.col3{
  margin-right: 100px;
}
}

@media screen and (max-width: 950px) {
.bottle3{
  margin-left: 10px;
}
}

@media screen and (max-width: 950px) {
.photo1{
  width: 205px;
}
}

@media screen and (max-width: 950px) {
.photo2{
  width: 205px;
}
}

@media screen and (max-width: 950px) {
.photo3{
  width: 205px;
}
}

@media screen and (max-width: 950px) {
.photo4{
  width: 205px;
}
}


@media screen and (max-width: 900px) {
.photo1{
  width: 200px;
}
}

@media screen and (max-width: 900px) {
.photo2{
  width: 200px;
}
}

@media screen and (max-width: 900px) {
.photo3{
  width: 200px;
}
}

@media screen and (max-width: 900px) {
.photo4{
  width: 200px;
}
}


@media screen and (max-width: 850px) {
.photo1{
  width: 190px;
}
}

@media screen and (max-width: 850px) {
.photo2{
  width: 190px;
}
}

@media screen and (max-width: 850px) {
.photo3{
  width: 190px;
}
}

@media screen and (max-width: 850px) {
.photo4{
  width: 190px;
}
}


@media screen and (max-width: 800px) {
.photo1{
  width: 180px;
  margin-left: 12px;
}
}

@media screen and (max-width: 800px) {
.photo2{
  width: 180px;
  margin-left: 12px;
}
}

@media screen and (max-width: 800px) {
.photo3{
  width: 180px;
  margin-left: 12px;
}
}

@media screen and (max-width: 800px) {
.photo4{
  width: 180px;
  margin-left: 12px;
}
}

@media screen and (max-width: 850px) {
.pho2{
  margin-left: 20px;
}
}

@media screen and (max-width: 800px) {
.col3{
  margin-right: 50px;
}
}

@media screen and (max-width: 800px) {
.col{
  margin-left: 90px;
}
}
@media screen and (max-width: 700px) {
.photo1{
  width: 297px;
  margin-top: 20px;
}
}

@media screen and (max-width: 700px) {
.photo2{
  width: 297px;

}
}

@media screen and (max-width: 700px) {
.photo3{
  width: 297px;
  margin-top: 20px;
}
}

@media screen and (max-width: 700px) {
.photo4{
  width: 297px;

}
}

@media screen and (max-width: 700px) {
.col{
margin-left: 40px;
}
}

@media screen and (max-width: 700px) {
.col2{
margin-left: 170px;
}
}

@media screen and (max-width: 700px) {
.col3{
margin-right: 0px;
}
}

@media screen and (max-width: 650px) {
.col{
margin-left: 5px;
}
}

@media screen and (max-width: 650px) {
.col2{
margin-left: 140px;
}
}

@media screen and (max-width: 600px) {
.photo1{
  width: 270px;

}
}

@media screen and (max-width: 600px) {
.photo2{
  width: 270px;
  margin-top: 20px;
}
}

@media screen and (max-width: 600px) {
.photo3{
  width: 270px;

}
}

@media screen and (max-width: 600px) {
.photo4{
  width: 270px;
  margin-top: 20px;
}
}


@media screen and (max-width: 550px) {
.photo1{
  width: 245px;

}
}

@media screen and (max-width: 550px) {
.photo2{
  width: 245px;
  margin-top: 20px;
}
}

@media screen and (max-width: 550px) {
.photo3{
  width: 245px;

}
}

@media screen and (max-width: 550px) {
.photo4{
  width: 245px;
  margin-top: 20px;
}
}



@media screen and (max-width: 600px) {
.col2{
  margin-left: 200px;
}
}



@media screen and (max-width: 600px) {
.col3{
  margin-top: 0px;
  margin-right: 420px;
}
}



@media screen and (max-width: 550px) {
  .bottle3 {
width: 240px;
  }
}

@media screen and (max-width: 550px) {
  .bottle2 {
width: 240px;
  }
}

@media screen and (max-width: 500px) {
  .pho2 {
margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .bottle3 {
width: 215px;
  }
}

@media screen and (max-width: 500px) {
  .bottle2 {
width: 215px;
  }
}

@media screen and (max-width: 550px) {
  .col2 {
margin-left: 150px;
  }
}

@media screen and (max-width: 550px) {
  .col3 {
margin-right: 380px;
  }
}

@media screen and (max-width: 500px) {
.col2{
  margin-left: 100px;
}
}

@media screen and (max-width: 500px) {
.col3{
  margin-top: 0px;
  margin-right: 330px;
}
}

@media screen and (max-width: 500px) {
.photo1{
  width: 220px;

}
}

@media screen and (max-width: 500px) {
.photo2{
  width: 220px;
  margin-top: 20px;
}
}

@media screen and (max-width: 500px) {
.photo3{
  width: 220px;

}
}

@media screen and (max-width: 500px) {
.photo4{
  width: 220px;
  margin-top: 20px;
}
}

@media screen and (max-width: 450px) {
  .bottle3 {
width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .bottle2 {
width: 200px;
  }
}


@media screen and (max-width: 450px) {
  .col2 {
font-size: 0.5em;
width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .col3 {
margin-right: 280px;
  }
}


@media screen and (max-width: 400px) {
  .bottle3 {
width: 180px;
  }
}

@media screen and (max-width: 400px) {
  .bottle2 {
width: 180px;
  }
}

@media screen and (max-width: 400px) {
.photo1{
  width: 170px;

}
}

@media screen and (max-width: 400px) {
.photo2{
  width: 170px;
  margin-top: 20px;
}
}

@media screen and (max-width: 400px) {
.photo3{
  width: 170px;

}
}

@media screen and (max-width: 400px) {
.photo4{
  width: 170px;
  margin-top: 20px;
}
}

@media screen and (max-width: 400px) {
.col3{
margin-right: 230px;
}
}

@media screen and (max-width: 450px) {
.note{
margin-left: 110px;
}
}

@media screen and (max-width: 400px) {
.note{
margin-left: 60px;
}
}

@media screen and (max-width: 350px) {
  .bottle3 {
    margin-top: 230px; 
    width: 300px;
    margin-left: -160px;
  }
}

@media screen and (max-width: 350px) {
  .bottle2 {
width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .footer .col {
width: 120px;
  }
}

@media screen and (max-width: 350px) {
  .col2 {
width: 250px;
  }
}

@media screen and (max-width: 350px) {
.footer .col h1 {
  padding-top: 0px;
  font-size: 0.5em;
}
}

@media screen and (max-width: 350px) {
.col3 {
  margin-right: 170px;
}
}


@media screen and (max-width: 350px) {
.note {
margin-left: 22px;
font-size: 0.8em;
}
}

@media screen and (max-width: 300px) {
.note {
  margin-left: 60px;
}
}

@media screen and (max-width: 300px) {
.dar {
  font-size: 3em;
}
}

@media screen and (max-width: 300px) {
.text {
  padding-right: 50px;
  padding-left: 50px;
}
}

@media screen and (max-width: 300px) {
.bottle2 {
  width: 260px;
}
}

@media screen and (max-width: 300px) {
.bottle3 {
  width: 260px;
  margin-left: -140px;
}
}

@media screen and (max-width: 300px) {
.col2 {
padding-left: 0px;
margin-left: 50px;
}
}

@media screen and (max-width: 300px) {
.col3 {
margin-right: 120px;
}
}

@media screen and (max-width: 300px) {
.photo1{
  width: 250px;

}
}

@media screen and (max-width: 300px) {
.photo2{
  width: 250px;
  margin-top: 20px;
}
}

@media screen and (max-width: 300px) {
.photo3{
  width: 250px;

}
}

@media screen and (max-width: 300px) {
.photo4{
  width: 250px;
  margin-top: 20px;
}
}



@media screen and (max-width: 411px) {
.bottle2 {
  width: 180px;
}
}

@media screen and (max-width: 411px) {
.bottle3 {
  width: 180px;
}
}

@media screen and (max-width: 411px) {
.photo1{
  width: 365px;

}
}

@media screen and (max-width: 411px) {
.photo2{
  width: 365px;
  margin-top: 20px;
}
}

@media screen and (max-width: 411px) {
.photo3{
  width: 365px;

}
}

@media screen and (max-width: 411px) {
.photo4{
  width: 365px;
  margin-top: 20px;
}
}

@media screen and (max-width: 411px) {
.col3{
  margin-right: 250px;

}
}

@media screen and (max-width: 360px) {
.bottle2 {
  width: 150px;
}
}

@media screen and (max-width: 360px) {
.bottle3 {
  width: 150px;
}
}

@media screen and (max-width: 360px) {
.col2 {
  padding-left: 0px;
  width: 250px;
}
}

@media screen and (max-width: 360px) {
.footer .col {
  width: 140px;
}
}



@media screen and (max-width: 360px) {
.photo1{
  width: 310px;

}
}

@media screen and (max-width: 360px) {
.photo2{
  width: 310px;
  margin-top: 20px;
}
}

@media screen and (max-width: 360px) {
.photo3{
  width: 310px;

}
}

@media screen and (max-width: 360px) {
.photo4{
  width: 310px;
  margin-top: 20px;
}
}

@media screen and (max-width: 360px) {
.text{
padding-left: 50px;
padding-right: 50px;
}
}

@media screen and (max-width: 360px) {
.note{
margin-left: 55px;
}
}

@media screen and (max-width: 320px) {
.bottle2 {
  width: 280px;
}
}

@media screen and (max-width: 320px) {
.bottle3 {
  width: 280px;
}
}

@media screen and (max-width: 320px) {
.photo1{
  width: 270px;

}
}

@media screen and (max-width: 320px) {
.photo2{
  width: 270px;
  margin-top: 20px;
}
}

@media screen and (max-width: 320px) {
.photo3{
  width: 270px;

}
}

@media screen and (max-width: 320px) {
.photo4{
  width: 270px;
  margin-top: 20px;
}
}

@media screen and (max-width: 320px) {
.col2 {
  width: 220px;
}
}



@media screen and (max-width: 375px) {
.bottle2 {
  width: 160px;
}
}

@media screen and (max-width: 375px) {
.bottle3 {
  width: 160px;
}
}

@media screen and (max-width: 375px) {
.photo1{
  width: 330px;

}
}

@media screen and (max-width: 375px) {
.photo2{
  width: 330px;
  margin-top: 20px;
}
}

@media screen and (max-width: 375px) {
.photo3{
  width: 330px;

}
}

@media screen and (max-width: 375px) {
.photo4{
  width: 330px;
  margin-top: 20px;
}
}

@media screen and (max-width: 375px) {
.col2{
  width: 220px;
}
}



@media screen and (max-width: 320px) {
.bottle2 {
  width: 280px;
}
}

@media screen and (max-width: 320px) {
.bottle3 {
  width: 280px;
}
}

@media screen and (max-width: 320px) {
.photo1{
  width: 270px;

}
}

@media screen and (max-width: 320px) {
.photo2{
  width: 270px;
  margin-top: 20px;
}
}

@media screen and (max-width: 320px) {
.photo3{
  width: 270px;

}
}

@media screen and (max-width: 320px) {
.photo4{
  width: 270px;
  margin-top: 20px;
}
}

@media screen and (max-width: 320px) {
.col3{
  margin-right: 150px;
}
}

@media screen and (max-width: 414px) {
.bottle2 {
  width: 185px;
}
}

@media screen and (max-width: 414px) {
.bottle3 {
  width: 185px;
}
}

@media screen and (max-width: 414px) {
.photo1{
  width: 365px;

}
}

@media screen and (max-width: 414px) {
.photo2{
  width: 365px;
  margin-top: 20px;
}
}

@media screen and (max-width: 414px) {
.photo3{
  width: 365px;

}
}

@media screen and (max-width: 414px) {
.photo4{
  width: 365px;
  margin-top: 20px;
}
}

@media screen and (max-width: 414px) {
.col3{
  margin-right: 240px;
}
}

@media screen and (max-width: 360px) {
.col3 {
  margin-right: 200px;
}
}

@media screen and (max-width: 320px) {
.col3 {
  margin-right: 150px;
}
}

@media screen and (max-width: 375px) {
.col3{
  margin-right: 200px;
}
}

@media screen and (max-width: 300px) {
.footer .col {
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 110px;
}
}

@media screen and (max-width: 300px) {
  .col2 {
  margin-left: 80px;
  }
}

@media screen and (max-width: 300px) {
  .col3 {
  margin-right: 140px;
  }
}

@media screen and (max-width: 500px) {
  .img2 {
  margin-left: -20px;
  }
}

@media screen and (max-width: 500px) {
  .text {
  padding-left: 0px;
  padding-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .img2 {
  margin-left: -50px;
  }
}

@media screen and (max-width: 400px) {
  .img2 {
  width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .img2 {
  width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .img2 {
  width: 250px;
  }
}

@media screen and (max-width: 350px) {
  .text {
  width: 250px;
  margin-left: -50px;
  }
}

@media screen and (max-width: 400px) {
  .text {
  width: 280px;
  margin-left: -40px;
  }
}

@media screen and (max-width: 300px) {
  .text {
  width: 200px;
  margin-left: -60px;
  }
}